.category {
  position: relative;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.category-content {
  display: none;
  position: absolute;
  width: 680px;
  top: 100%;
  left: 0;
  background-color: rgb(254, 253, 253);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.category:hover .category-content {
  display: block;
}

.categories-item {
  padding: 5px 10px;
  border-radius: 5px;
}

.categories-item:hover {
  background: #eceaea;
}
