.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 420px;
  @media (max-width: 768px) {
    height: 250px; /* Chiều cao cho các màn hình nhỏ */
  }

  @media (max-width: 480px) {
    height: 150px; /* Chiều cao cho các màn hình rất nhỏ */
  }
}
