.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.page-item {
  margin: 12px 0px 5px 5px;
}

.page-link {
  padding: 8px 16px;
  border: 2px solid #7d7e80;
  color: white;
  cursor: pointer;
  border-radius: 26px;
}

.page-link:hover {
  background-color: red;
  color: white;
}

.active .page-link {
  background-color: red;
  border-color: red;
  color: white;
}

.previous-link,
.next-link {
  padding: 8px 16px;
  border: 1px solid #ddd;

  color: #007bff;
  cursor: pointer;
}

.previous-link:hover,
.next-link:hover {
  background-color: #007bff;
  color: white;
}
.break-me {
  color: white; /* Màu chữ của dấu ba chấm */
  padding: 18px 12px 0px 14px;
}
@media (max-width: 768px) {
  .page-item {
    margin: 0 2px;
  }
  .page-link {
    padding: 8px 16px;
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .page-item {
    margin: 0 1px;
  }
  .page-link {
    padding: 6px 12px;
    font-size: 14px;
  }
}
